<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>serviceDispatcher</servlet-name>
    <servlet-class>ar.com.AmberSoft.iEvenTask.server.ServiceDispatcherImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>report</servlet-name>
    <servlet-class>ar.com.AmberSoft.iEvenTask.server.reports.ReportDispatcher</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>serviceDispatcher</servlet-name>
    <url-pattern>/ieventask/serviceDispatcher</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>report</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>IEvenTask.html</welcome-file>
  </welcome-file-list>

</web-app>
