<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
		<property name="connection.url">jdbc:jtds:sqlserver://5.183.8.31:1433/ieventask</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">Amber2011</property>
		
		<!-- property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://5.183.8.31:3306/ieventtaskdb</property>
		<property name="connection.username">root</property>
		<property name="connection.password">Amber2011</property-->
		
		<!-- property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="connection.url">jdbc:sqlserver://5.183.8.31;instanceName=SQLEXPRESS;databaseName=ieventask</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">Amber2011</property-->
		
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.SQLServer2005Dialect</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<!-- property name="hbm2ddl.auto">update</property-->
		<!-- mapping resource="org/hibernate/tutorial/domain/Event.hbm.xml" /-->
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.Permission"/>
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.Profile"/>
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.Event"/>
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.EventLDAP"/>
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.EventLogs"/>
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.EventFiles"/>
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.EventServices"/>
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.Relation"/>
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.RelationWithActionCreateTask"/>
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.Tarea"/>
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.Comentario"/>
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.Objetivo"/>
		<mapping class="ar.com.AmberSoft.iEvenTask.backend.entities.Visible"/>
	</session-factory>
</hibernate-configuration>