<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        
	
	  <appender name="iEvenTaskLog" class="org.apache.log4j.RollingFileAppender">
	    <param name="File" value="C:\\log\\iEvenTaskLog.log"/>
	    <param name="MaxFileSize" value="10000KB"/>
	    <param name="MaxBackupIndex" value="5"/>    
	    <param name="Append" value="true"/>
	    <layout class="org.apache.log4j.PatternLayout">
	       <param name="ConversionPattern"
		              value="[%d] [%c] [%p]%m%n" />
	    </layout>
	  </appender>
	
	  <appender name="console" class="org.apache.log4j.ConsoleAppender"> 
	    <param name="Target" value="System.out"/> 
	    <layout class="org.apache.log4j.PatternLayout"> 
	      <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> 
	    </layout> 
	  </appender> 

  <logger name="ar.com.AmberSoft.iEvenTask">
      <level value="all"></level>
      <appender-ref ref="iEvenTaskLog"/>
  </logger>
  
   <logger name="org.hibernate">
      <level value="all"></level>
      <appender-ref ref="iEvenTaskLog"/>
  </logger>

  	<!-- Esto tracea lo que sale por consola en el archivo de log (MUY COSTOSO) -->
   <!-- root> 
    <priority value ="all" /> 
    <appender-ref ref="iEvenTaskLog" /> 
  </root -->  
  

</log4j:configuration>